.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xsPull-12 {
  right: 100%;
}

.col-xsPull-11 {
  right: 91.66666667%;
}

.col-xsPull-10 {
  right: 83.33333333%;
}

.col-xsPull-9 {
  right: 75%;
}

.col-xsPull-8 {
  right: 66.66666667%;
}

.col-xsPull-7 {
  right: 58.33333333%;
}

.col-xsPull-6 {
  right: 50%;
}

.col-xsPull-5 {
  right: 41.66666667%;
}

.col-xsPull-4 {
  right: 33.33333333%;
}

.col-xsPull-3 {
  right: 25%;
}

.col-xsPull-2 {
  right: 16.66666667%;
}

.col-xsPull-1 {
  right: 8.33333333%;
}

.col-xsPull-0 {
  right: auto;
}

.col-xsPush-12 {
  left: 100%;
}

.col-xsPush-11 {
  left: 91.66666667%;
}

.col-xsPush-10 {
  left: 83.33333333%;
}

.col-xsPush-9 {
  left: 75%;
}

.col-xsPush-8 {
  left: 66.66666667%;
}

.col-xsPush-7 {
  left: 58.33333333%;
}

.col-xsPush-6 {
  left: 50%;
}

.col-xsPush-5 {
  left: 41.66666667%;
}

.col-xsPush-4 {
  left: 33.33333333%;
}

.col-xsPush-3 {
  left: 25%;
}

.col-xsPush-2 {
  left: 16.66666667%;
}

.col-xsPush-1 {
  left: 8.33333333%;
}

.col-xsPush-0 {
  left: auto;
}

.col-xsOffset-12 {
  margin-left: 100%;
}

.col-xsOffset-11 {
  margin-left: 91.66666667%;
}

.col-xsOffset-10 {
  margin-left: 83.33333333%;
}

.col-xsOffset-9 {
  margin-left: 75%;
}

.col-xsOffset-8 {
  margin-left: 66.66666667%;
}

.col-xsOffset-7 {
  margin-left: 58.33333333%;
}

.col-xsOffset-6 {
  margin-left: 50%;
}

.col-xsOffset-5 {
  margin-left: 41.66666667%;
}

.col-xsOffset-4 {
  margin-left: 33.33333333%;
}

.col-xsOffset-3 {
  margin-left: 25%;
}

.col-xsOffset-2 {
  margin-left: 16.66666667%;
}

.col-xsOffset-1 {
  margin-left: 8.33333333%;
}

.col-xsOffset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-smPull-12 {
    right: 100%;
  }

  .col-smPull-11 {
    right: 91.66666667%;
  }

  .col-smPull-10 {
    right: 83.33333333%;
  }

  .col-smPull-9 {
    right: 75%;
  }

  .col-smPull-8 {
    right: 66.66666667%;
  }

  .col-smPull-7 {
    right: 58.33333333%;
  }

  .col-smPull-6 {
    right: 50%;
  }

  .col-smPull-5 {
    right: 41.66666667%;
  }

  .col-smPull-4 {
    right: 33.33333333%;
  }

  .col-smPull-3 {
    right: 25%;
  }

  .col-smPull-2 {
    right: 16.66666667%;
  }

  .col-smPull-1 {
    right: 8.33333333%;
  }

  .col-smPull-0 {
    right: auto;
  }

  .col-smPush-12 {
    left: 100%;
  }

  .col-smPush-11 {
    left: 91.66666667%;
  }

  .col-smPush-10 {
    left: 83.33333333%;
  }

  .col-smPush-9 {
    left: 75%;
  }

  .col-smPush-8 {
    left: 66.66666667%;
  }

  .col-smPush-7 {
    left: 58.33333333%;
  }

  .col-smPush-6 {
    left: 50%;
  }

  .col-smPush-5 {
    left: 41.66666667%;
  }

  .col-smPush-4 {
    left: 33.33333333%;
  }

  .col-smPush-3 {
    left: 25%;
  }

  .col-smPush-2 {
    left: 16.66666667%;
  }

  .col-smPush-1 {
    left: 8.33333333%;
  }

  .col-smPush-0 {
    left: auto;
  }

  .col-smOffset-12 {
    margin-left: 100%;
  }

  .col-smOffset-11 {
    margin-left: 91.66666667%;
  }

  .col-smOffset-10 {
    margin-left: 83.33333333%;
  }

  .col-smOffset-9 {
    margin-left: 75%;
  }

  .col-smOffset-8 {
    margin-left: 66.66666667%;
  }

  .col-smOffset-7 {
    margin-left: 58.33333333%;
  }

  .col-smOffset-6 {
    margin-left: 50%;
  }

  .col-smOffset-5 {
    margin-left: 41.66666667%;
  }

  .col-smOffset-4 {
    margin-left: 33.33333333%;
  }

  .col-smOffset-3 {
    margin-left: 25%;
  }

  .col-smOffset-2 {
    margin-left: 16.66666667%;
  }

  .col-smOffset-1 {
    margin-left: 8.33333333%;
  }

  .col-smOffset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-mdPull-12 {
    right: 100%;
  }

  .col-mdPull-11 {
    right: 91.66666667%;
  }

  .col-mdPull-10 {
    right: 83.33333333%;
  }

  .col-mdPull-9 {
    right: 75%;
  }

  .col-mdPull-8 {
    right: 66.66666667%;
  }

  .col-mdPull-7 {
    right: 58.33333333%;
  }

  .col-mdPull-6 {
    right: 50%;
  }

  .col-mdPull-5 {
    right: 41.66666667%;
  }

  .col-mdPull-4 {
    right: 33.33333333%;
  }

  .col-mdPull-3 {
    right: 25%;
  }

  .col-mdPull-2 {
    right: 16.66666667%;
  }

  .col-mdPull-1 {
    right: 8.33333333%;
  }

  .col-mdPull-0 {
    right: auto;
  }

  .col-mdPush-12 {
    left: 100%;
  }

  .col-mdPush-11 {
    left: 91.66666667%;
  }

  .col-mdPush-10 {
    left: 83.33333333%;
  }

  .col-mdPush-9 {
    left: 75%;
  }

  .col-mdPush-8 {
    left: 66.66666667%;
  }

  .col-mdPush-7 {
    left: 58.33333333%;
  }

  .col-mdPush-6 {
    left: 50%;
  }

  .col-mdPush-5 {
    left: 41.66666667%;
  }

  .col-mdPush-4 {
    left: 33.33333333%;
  }

  .col-mdPush-3 {
    left: 25%;
  }

  .col-mdPush-2 {
    left: 16.66666667%;
  }

  .col-mdPush-1 {
    left: 8.33333333%;
  }

  .col-mdPush-0 {
    left: auto;
  }

  .col-mdOffset-12 {
    margin-left: 100%;
  }

  .col-mdOffset-11 {
    margin-left: 91.66666667%;
  }

  .col-mdOffset-10 {
    margin-left: 83.33333333%;
  }

  .col-mdOffset-9 {
    margin-left: 75%;
  }

  .col-mdOffset-8 {
    margin-left: 66.66666667%;
  }

  .col-mdOffset-7 {
    margin-left: 58.33333333%;
  }

  .col-mdOffset-6 {
    margin-left: 50%;
  }

  .col-mdOffset-5 {
    margin-left: 41.66666667%;
  }

  .col-mdOffset-4 {
    margin-left: 33.33333333%;
  }

  .col-mdOffset-3 {
    margin-left: 25%;
  }

  .col-mdOffset-2 {
    margin-left: 16.66666667%;
  }

  .col-mdOffset-1 {
    margin-left: 8.33333333%;
  }

  .col-mdOffset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lgPull-12 {
    right: 100%;
  }

  .col-lgPull-11 {
    right: 91.66666667%;
  }

  .col-lgPull-10 {
    right: 83.33333333%;
  }

  .col-lgPull-9 {
    right: 75%;
  }

  .col-lgPull-8 {
    right: 66.66666667%;
  }

  .col-lgPull-7 {
    right: 58.33333333%;
  }

  .col-lgPull-6 {
    right: 50%;
  }

  .col-lgPull-5 {
    right: 41.66666667%;
  }

  .col-lgPull-4 {
    right: 33.33333333%;
  }

  .col-lgPull-3 {
    right: 25%;
  }

  .col-lgPull-2 {
    right: 16.66666667%;
  }

  .col-lgPull-1 {
    right: 8.33333333%;
  }

  .col-lgPull-0 {
    right: auto;
  }

  .col-lgPush-12 {
    left: 100%;
  }

  .col-lgPush-11 {
    left: 91.66666667%;
  }

  .col-lgPush-10 {
    left: 83.33333333%;
  }

  .col-lgPush-9 {
    left: 75%;
  }

  .col-lgPush-8 {
    left: 66.66666667%;
  }

  .col-lgPush-7 {
    left: 58.33333333%;
  }

  .col-lgPush-6 {
    left: 50%;
  }

  .col-lgPush-5 {
    left: 41.66666667%;
  }

  .col-lgPush-4 {
    left: 33.33333333%;
  }

  .col-lgPush-3 {
    left: 25%;
  }

  .col-lgPush-2 {
    left: 16.66666667%;
  }

  .col-lgPush-1 {
    left: 8.33333333%;
  }

  .col-lgPush-0 {
    left: auto;
  }

  .col-lgOffset-12 {
    margin-left: 100%;
  }

  .col-lgOffset-11 {
    margin-left: 91.66666667%;
  }

  .col-lgOffset-10 {
    margin-left: 83.33333333%;
  }

  .col-lgOffset-9 {
    margin-left: 75%;
  }

  .col-lgOffset-8 {
    margin-left: 66.66666667%;
  }

  .col-lgOffset-7 {
    margin-left: 58.33333333%;
  }

  .col-lgOffset-6 {
    margin-left: 50%;
  }

  .col-lgOffset-5 {
    margin-left: 41.66666667%;
  }

  .col-lgOffset-4 {
    margin-left: 33.33333333%;
  }

  .col-lgOffset-3 {
    margin-left: 25%;
  }

  .col-lgOffset-2 {
    margin-left: 16.66666667%;
  }

  .col-lgOffset-1 {
    margin-left: 8.33333333%;
  }

  .col-lgOffset-0 {
    margin-left: 0;
  }
}
